// Global color variables
$primary-color: #e4be58;
$secondary-color: #ffb703;
$text-color: #000;
$text-white: #ffffff;
$dark-background: #222725;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

.small-btn {
  padding: 10px 15px;
}

.large-btn {
  padding: 15px 20px;
  font-weight: 500;
}

// Override Bootstrap's focus state
.form-control,
.form-select {
  &:focus {
    border-color: $primary-color;
    outline: 0;
    // mix() or rgba() helps create that soft glow effect
    box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
  }
}

// Ensure the Jodit Editor matches the theme
.jodit-container {
  &:focus-within {
    border-color: $primary-color !important;
  }
}

.btn-primary {
  // Target the disabled state specifically
  &:disabled,
  &.disabled {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: #fff !important;
    opacity: 1; // Overrides Bootstrap's default 0.65 opacity
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  font-size: 1em;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    transition: all 0.2s ease-in-out;
  }

  &:active {
    background-color: $secondary-color !important;
    color: #000 !important;
    border: none !important;
    transition: all 0.2s ease-in-out;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  font-size: 1em;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.2s ease-in-out;
  }

  &:active {
    background-color: $secondary-color !important;
    color: #000 !important;
    transition: all 0.2s ease-in-out;
  }
}

header {
  nav {
    .nav-link {
      text-transform: uppercase;
      color: $text-color;
      font-weight: 500;
      margin-left: 20px;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      white-space: nowrap;
      &:hover {
        color: $secondary-color;
        transition: all 0.2s ease-in-out;
      }

      // Active link styling
      &.active {
        color: $secondary-color !important;
      }
    }

    .Logo {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 500;
      white-space: nowrap;

      span {
        color: $secondary-color;
      }
    }
    .navbar-toggler {
      @media (max-width: 576px) {
        padding: 0.2rem 0.4rem; // Smaller padding
        font-size: 0.9rem; // Smaller font size if there's text

        .navbar-toggler-icon {
          width: 1.1em; // Smaller icon
          height: 1.1em;
          background-size: 60%; // Adjust the icon size within the button
        }
      }
    }
  }
}

.section-1 {
  .banner {
    background-image: url('../images/banner.jpg');
    background:
      linear-gradient(to right, #000c, #0000),
      url(/src/assets/images/banner.jpg);
    min-height: 800px;
    color: $text-white;

    span {
      color: $secondary-color;
      font-size: 1.8em;
      font-weight: 500;
    }

    p {
      margin-top: 10px;
    }
  }
}

.section-2 {
  img {
    border-radius: 40px;
  }

  span {
    color: $secondary-color;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
  }
}

.section-3 {
  .item {
    position: relative;
    overflow: hidden;
    &:hover {
      .service-body {
        transform: translateY(0%);
        .service-readmore-btn {
          margin-top: 20px !important;
        }
        .service-content {
          opacity: 1;
        }
      }
    }
    .service-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 40px;
        aspect-ratio: 1 / 1.2;
        object-fit: cover;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 40px;
        background: linear-gradient(
          180deg,
          #d9d9d900,
          #d9d9d900 13.02%,
          #00000078 40.5%,
          #00000095 60%,
          #585858
        );
      }
    }
    .service-body {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 30px;
      transform: translateY(80%);
      transition: all 0.4s ease-in-out;
      color: $text-white;
      .service-content {
        transition: all 0.4s ease-in-out;
        opacity: 0;
      }
    }
  }
}

.section-4 {
  .card {
    border-radius: 40px;
  }
}

.section-header {
  span {
    color: $secondary-color;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
  }
}

// Testimonial Section

.client_section {
  .box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;

    .client_info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .client_name {
        h5 {
          font-weight: 500;
          color: #d23f57;
        }
        h6 {
          color: #aaa;
          margin-bottom: 5px;
        }
        .testimonial-rating-display {
          .star {
            font-size: 18px;
            color: #ccc;
            &.filled {
              color: #ffc107;
            }
          }
        }
      }
      i {
        font-size: 28px;
        color: #222;
      }
    }

    p {
      margin-top: 15px;
      font-size: 16px;
      color: #333;
      line-height: 1.6;
    }
  }

  .carousel_btn-box {
    a {
      background: #d23f57;
      width: 50px;
      height: 50px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

/* Testimonial Form */
.section-5 {
  .swiper {
    padding: 25px 25px 60px 25px;
    .swiper-pagination-bullet-active {
      background: $secondary-color;
      opacity: 1;
    }
  }
  .card {
    border-radius: 40px;
    .card-body {
      .rating {
        color: $secondary-color;
      }
      .content {
        p {
          font-size: 1em;
        }
      }
      .meta {
        img {
          border-radius: 50%;
        }
      }
      .name {
        font-size: 1.3em;
        font-weight: 500;
      }
    }
  }
}

footer {
  background-color: $dark-background;
  color: #fff;
  h3 {
    color: $primary-color;
  }
  ul {
    li {
      padding: 5px 0;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;

        &:hover {
          color: $secondary-color;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
// Blog and News Section

@media (max-width: 1200px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .section-1 .banner span {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .section-1 {
    .banner {
      background:
        linear-gradient(to right, #000c, #0000),
        url(/src/assets/images/banner.jpg) -185px / cover no-repeat;
    }
  }
}

.section-6 {
  .card {
    border-radius: 40px !important;
    img {
      border-top-left-radius: 40px !important;
      border-top-right-radius: 40px !important;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    .card-body {
      .blog-title {
        font-size: 1.5em;
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}

.section-7 {
  .banner {
    background-image: url('../images/construction12121.jpg');
    background:
      linear-gradient(to right, #000c, #0000),
      url(/src/assets/images/construction12121.jpg);
    min-height: 500px;
    color: $text-white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    span {
      color: $secondary-color;
      font-size: 1.8em;
      font-weight: 500;
    }

    h2,
    p {
      margin-top: 10px;
    }
  }
}

.section-8 {
  .card {
    border-radius: 40px;
  }
}

.dashboard {
  .card {
    min-height: 400px;
  }
}

.sidebar {
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        display: block;
        text-decoration: none;
        color: $text-color;

        &:hover {
          color: $secondary-color;
          transition: all 0.2s ease-in-out;
        }

        // Active class styling
        &.active {
          color: $secondary-color;
        }
      }
    }
  }
}

.section-9 {
  .sidebar-card {
    border-radius: 40px;
    .service-link {
      color: $text-color;
      &:hover {
        color: $secondary-color;
        transition: all 0.2s ease-in-out;
      }

      // Active link styling
      &.active {
        color: $secondary-color !important;
      }
    }
  }
}
